PORT=4000
CORS_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql://user:password@localhost:5432/transit_ops?schema=public"

NODE_ENV=development
COOKIE_DOMAIN=localhost

## JWT secrets
ACCESS_TOKEN_SECRET=3f8c2b1e9a4d4e8b8c7f2a6e5d1c9b3a
# in minutes
ACCESS_TOKEN_EXPIRY=15m

REFRESH_TOKEN_SECRET=7e2d1c8f4b6a9e3d5c2f8b1a6d4e7c9f
# in days
REFRESH_TOKEN_EXPIRY=10d

## Cookie expiries
# in minutes
ACCESS_TOKEN_COOKIE_EXPIRY=15
# in days
REFRESH_TOKEN_COOKIE_EXPIRY=10

## email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

MAIL_FROM="EaseInv <no-reply@easeinv.com>"

## rabbitmq
RABBITMQ_CONNECTION_URI=amqp://admin:admin@localhost:5672
RABBITMQ_EMAIL_QUEUE=email_queue

# default auth
DEFAULT_ADMIN_EMAIL=admin@transitops.com
DEFAULT_ADMIN_PASSWORD=AdminPassword123